
  <html>
    <head>
      <title></title>
    </head>
    <body>
      <div data-role="module-unsubscribe" class="module" role="module" data-type="unsubscribe" style="color:#444444; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:Center;" data-muid="4e838cf3-9892-4a6d-94d6-170e474d21e5">
        <div class="Unsubscribe--addressLine">
          <p class="Unsubscribe--senderName"
            style="font-size:12px;line-height:20px"
          >
            Hello {{Sender_Name}}:
            <br/>
            You are receiving this automated email from MyThinkPond.com because a new post has been added to the site:
            <hr>
            <table>
            <tr>
            <td valign="top">
            <img src="https://mythinkpond.com/img/2020/04/10/covid-19_2Rs.png" width="100"/>
            </td>
            <td valign="top">
            <b>After COVID-19: Rebuilding America (and the World) - Starts With You Today</b>
            <br/>
            COVID-19 has impacted all of us in some shape or form. The time to rebuild America (and the World) starts today with each and every one of us. It is time to wake the sleeping giant in each and everyone of us and do our part in this RECOVER - REBOOT - REBUILD process. <a href="https://mythinkpond.com/post/2019-09-07-rebuilding-america-and-the-world-after-covid19-starts-with-you/" target="_blank">read more at ...</a>
            </td>
            </tr>
            </table>
            <hr>
          </p>
          <p style="font-size:12px;line-height:20px">
            <span class="Unsubscribe--senderAddress">{{Sender_Address}}</span>, <span class="Unsubscribe--senderCity">{{Sender_City}}</span>, <span class="Unsubscribe--senderState">{{Sender_State}}</span> <span class="Unsubscribe--senderZip">{{Sender_Zip}}</span>
          </p>
        </div>
        <p style="font-size:12px; line-height:20px;">
          <a class="Unsubscribe--unsubscribeLink" href="{{{unsubscribe}}}" target="_blank" style="font-family:sans-serif;text-decoration:none;">
            Unsubscribe
          </a>
          -
          <a href="{{{unsubscribe_preferences}}}" target="_blank" class="Unsubscribe--unsubscribePreferences" style="font-family:sans-serif;text-decoration:none;">
            Unsubscribe Preferences
          </a>
        </p>
      </div>
    </body>
  </html>
